.header__lang-link {
  margin: 18px 18px 0px 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  display: block;
}

.header__lang-link:hover {
  cursor: url("../../../images/Cursor/Pointer.png"), auto;
  opacity: 0.8;
}

.header__lang-link:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}