.places__link {
    max-width: 100%;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #fff;
}

.places__link:hover {
    cursor: url("../../../images/Cursor/Pointer.png"), auto;
    opacity: 0.8;
}