.cover__subtitle {
  max-width: 360px;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}