.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 48px 24px 48px;
    /*max-width: calc(1280px - (48px * 2));
    min-width: calc(100% - (48px * 2));*/
    max-width: 928px;
}

@media (max-width: 767px){
  .footer {
      flex-direction: column;
      align-content: flex-start;
      margin: 0px 118px 24px 16px;
      max-width: 186px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    margin: 0 24px 24px 24px;
    max-width: 720px;
}
}

@media (min-width: 1280px){
  .footer {
    max-width: 1184px;
  }
}