.places__image {
    max-width: 440px;
    margin: 0;
    padding: 0;
    object-fit: cover;

    grid-area: image;
}

@media (max-width: 767px) {
    .places__image {
        max-width: 320px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .places__image {
      max-width: 340px;
    }
  }
  
  @media (min-width: 1280px) {
    .places__image {
    max-width: 460px;
    }
  }


  
  
  