.cover__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
}

.cover__item:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: url("../../../images/Cursor/Pointer.png"), auto;
}





  
  