.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(1280px - (48px * 2));
    min-width: calc(100% - (48px * 2));
    margin: 28px 48px 48px 48px;
    /*min-height: 52px;*/
}


@media (max-width: 767px) {
  .header {
    max-width: calc(1280px - (16px * 2));
    min-width: calc(100% - (16px * 2));
    margin: 16px 16px 48px 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: calc(1280px - (24px * 2));
    min-width: calc(100% - (24px * 2));
    margin: 28px 24px 48px 24px;
  }
}

@media (min-width: 1280px) {
  .header {
    margin: 28px 48px 56px 48px;
    min-width: calc(100% - (48px * 2));
  }
}


  
  