.intro__text {
  /*max-width: 690px;*/
  max-width: 100%;
  margin: 0 0 33px 0px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 767px) {
  .intro__text {
    /*max-width: 288px;*/
    margin-bottom: 34px;
  }
}