.root {
    display: flexbox;
    flex-direction: column;

    max-width: 1280px;
    min-width: 320px;
    color: #FFFFFF;
    background-color: #2A2C2F;

    align-items: center;
    margin: 0 auto;

    /*font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;*/
  }


  



  



  




  


 
  










