.cover {
  background-image: url("../../images/dmitrii-vaccinium-22833-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 92px 0;
  text-align: center;

  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
  display: flex;
}

.cover::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: -1px;
  padding-top: calc(640 / 1024 * 100%);
}

/*.cover::before {
  content: "";
  width: 0;
  height: 0;
  margin-left: -1px;
  padding-top: calc(740 / 1184 * 100%);
}*/

@media (max-width: 767px) {
  .cover {
  margin-bottom: 64px;
}
}

@media (min-width: 768px) and (max-width: 1023px)  {
  .cover {
  margin-bottom: 88px;
}
}

@media (min-width: 1280px) {
  .cover {
  margin: 0 48px 92px 48px;
  max-width: 1184px;
}
}

  
  