
.footer__column-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
    display: block;
  }

.footer__column-link:hover {
    cursor: url("../../../images/Cursor/Pointer.png"), auto;
  }

  .footer__column-link:last-child {
    margin-right: 0;
  }

  @media (max-width: 767px){
    .footer__column-link {
      font-size: 24px;
      line-height: 24px;
      margin: 0 0 32px 0;
    }
    .footer__column-link:last-child {
      margin-bottom: 0;
    }
  }


 