.places__url-heading {
    max-width: 100%;
    margin: 0;
    margin-bottom: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    font-display: swap;
    letter-spacing: 2px;
    color: #AAAAAA;
}


  @media (min-width: 1280px) {
    .places__url-heading {
        line-height: 20px;
    }
  }
  
  